<!-- Footer Start -->
<div class="container-fluid bg-footer-banner text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">LIÊN HỆ</h5>
            <p class="mb-4"></p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>236 Lê Văn Sỹ, Q. Tân Bình, Tp. Hồ Chí Minh</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>0950080140@sv.hcmunre.edu.vn</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 0973 093 110</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">CÁC LOẠI HÀNG</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>TIVI</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Máy Giặt</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Máy Lạnh</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tủ Lạnh</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đồ Dùng Bếp</a>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>

<!-- Footer End -->
